<!-- <app-nav-bar></app-nav-bar>
<div class="wrapper">
  <div class="main position-relative" style="overflow-x: hidden; overflow-y: auto;">
    <main class="content p-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div> -->
<!-- <app-footer></app-footer> -->

<div class="page">
  <aside class="navbar navbar-vertical navbar-expand-lg overflow-hidden" style="background-color: #136f8a;">
    <app-side-bar></app-side-bar>
  </aside>
  <div class="page-wrapper">
    <div class="header">
      <app-top-bar></app-top-bar>
    </div>
    <div class="body">
      hii
    </div>
  </div>
</div>

