  <div class="container p-0">
    <div class="navbar-brand text-center bg-white" style="height: 62px;width: 240px;">
        <img src="../../../../../assets/images/Logo.png" width="110" height="32" alt="Tabler" class="navbar-brand-image">
    </div>
    <div class="collapse navbar-collapse" id="sidebar-menu">
      <ul class="navbar-nav pt-lg-3 text-white" *ngIf="let data of sidebar.list">
        <li class="nav-item ">
          <a class="nav-link" href="./" >
            <span class="nav-link-icon d-md-none d-lg-inline-block text-white"><!-- Download SVG icon from http://tabler-icons.io/i/home -->
              <i class="ri-home-4-fill"></i>
            </span>
            <span class="nav-link-title text-white">
              {{data}}
            </span>
          </a>
        </li>
      </ul>
    </div>
  </div>