<header class="navbar navbar-expand-md sticky-top d-print-none">
        <div class="container">
            
            <!-- <h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal">
                <a href=".">
                    <img src="../../../../../assets/images/Logo.png" alt="" class="w-50" />
                </a>
            </h1> -->
            <!-- <div class="my-2 my-md-0 flex-grow-1 flex-md-grow-0 order-md-last w-50 ">
                <div class="input-icon">
                    <span class="input-icon-addon">
                        <i class="ri-search-line"></i>
                    </span>
                    <input type="text" value="" class="form-control w-50 h-100"
                        placeholder="Search by name, product, category.." aria-label="Search in website">
                </div>
            </div> -->
            <div></div>
            <div class="navbar-nav flex-row order-md-last float-end">
                <div class="nav-item dropdown">
                    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown"
                        aria-label="Open user menu">
                        <i class="ri-user-fill"></i>
                        <div class="d-none d-xl-block ps-2">
                            <div>Hello, sign-in</div>
                            <div class="mt-1 small text-muted">Accounts & Details</div>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                        <a href="#" class="dropdown-item">Your Account</a>
                        <a href="./profile.html" class="dropdown-item">Your Order</a>
                        <a href="#" class="dropdown-item">Your Wishlist</a>
                        <div class="dropdown-divider"></div>
                        <a href="./settings.html" class="dropdown-item">Settings</a>
                        <a href="./sign-in.html" class="dropdown-item">Logout</a>
                    </div>
                </div>
                <div class="nav-item d-md-flex h-1-icon">
                    <i class="ri-store-3-line"></i>
                </div>
                <div class="nav-item d-md-flex ms-md-4 h-1-icon">
                    <i class="ri-shopping-cart-2-line"></i>
                </div>
            </div>
        </div>
    </header>