<div class="container-fluid h-100 ">
  <div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-4 ">
      <div class="card card-md ">
        <div class="card-body">
          <div class="text-center">
            <img src="../../../../../../assets/images/Logo-2.png" alt="" class="image">
            <h3>Retailer Partner</h3>
            <div class="text-center mb-4 fw-semibold">Login to your Account</div>
          </div>
          <form (ngSubmit)="submit()">
            <div class="mb-3">
              <label class="form-label">Email address</label>
              <input type="email" class="form-control" placeholder="your@email.com" autocomplete="off">
            </div>
            <div class="mb-2">
              <label class="form-label">
                Password
              </label>
              <div class="input-group input-group-flat">
                <input type="{{showpassword?'text':'password'}}" class="form-control" placeholder="Your password"
                  autocomplete="off">
                <span class="input-group-text" (click)="toggleShow()">
                  <i class="ri-eye-line" [hidden]="!showpassword"></i>
                  <i class="ri-eye-off-line" [hidden]="showpassword"></i>
                </span>
              </div>
            </div>
            <div class="mb-2">
              <label class="form-check">
                <span class="form-label-description">
                  <a href="./forgot-password.html" class="mt-2">I forgot password</a>
                </span>
              </label>
            </div>
            <button class="btn w-100 text-white fw-semibold "
            style="background-color: rgb(19, 111, 138);">Sign in</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>