.container-fluid{
    background-image: url('../../../../../../assets/images/login/login-bg.png');
    // background-size: cover;
}
.h-custom{
    height:100%
}

.image{
    height: 90px;
}

.card{
    margin-top: 100px;
};